<ion-header>
  <ion-toolbar>
    <ion-title>औरत को गर्म कैसे करे</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-loader" *ngIf="!quotesData">
    <ion-spinner name="bubbles" color="light"></ion-spinner>
  </div>
  <ion-card *ngFor="let quote of quotesData; let i =index" class="card-bg-primary"
    (click)="navigateToQuotelist(quote.id)">
    <ion-card-header>
      <ion-card-title color="dark">
        <ion-row>
          <ion-col class="quote-title" size="12">
            {{i+1}}. {{quote.title}}
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>