.card-bg-primary {
  border-radius: 12px;
  margin: 12px;
  ion-card-header {
    padding: 14px 16px;
  }
  ion-card-title {
    font-size: 22px;
  }
  .quote-count {
    display: flex;
    justify-content: flex-end;
  }

  .quote-title {
    // text-transform: capitalize;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    text-align: start;
    line-height: 1.4;
    // font-weight: bold;
    // letter-spacing: 0.8px;
  }
}
.board {
  background: gold;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}
